<div class="container" ng-controller="HeaderController as model">
    <ul>
        <li><a href="#/">Home</a></li>
        <li ng-show="model.loggedin() == 'TIPPER'">Login Tipper: <a href="">Post a task</a></li>
        <li ng-show="model.loggedin() == 'ADMIN'">Login Admin: <a href="#/admin">Manage Users</a></li>
        <li ng-show="model.loggedin()">Login User: <a href="">Profile</a></li>
        <li>Visitor</li>
        <li><a href="">Browse tasks</a></li>
        <li ng-hide="model.loggedin()"><a href="#/register">Register</a></li>
        <li ng-hide="model.loggedin()"><a ng-click="model.login()">Login</a></li>
        <li ng-show="model.loggedin()"><a ng-click="model.logout()">Logout</a></li>
    </ul>
</div>