<div class="jumbotron">
    <h1 class="display-3">TipTag</h1>
    <p class="lead">
        TipTag is a platform where
        Tipper(Business/Developer) can post image-tagging tasks and
        Tagger can make money by completing posted tasks.
    </p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            Post
        </div>
        <div class="col-md-4">
            Tag
        </div>
        <div class="col-md-4">
            Earn
        </div>
    </div>
</div>