<div class="jumbotron" style="margin-bottom: 0; height: 30%;">
    <h1 class="display-3">TipTag</h1>
    <p class="lead">
        TipTag is a platform where
        Tipper(Business/Developer) can post image-tagging tasks and
        Tagger can make money by completing posted tasks.
    </p>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="d-block img-fluid" src="" style="width: 100%; height: 350px; background-color: #0275D8;">
            <div class="carousel-caption d-none d-md-block">
                <h1><i class="fa fa-picture-o fa-4x" aria-hidden="true"></i></h1>
                <h2>Post</h2>
                <p>Tipper: Post a image-tagging task</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="" style="width: 100%; height: 350px; background-color: #0275D8;">
            <div class="carousel-caption d-none d-md-block">
                <h1><i class="fa fa-tags fa-4x" aria-hidden="true"></i></h1>
                <h2>Tag</h2>
                <p>Tagger: Find images to tag.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="" style="width: 100%; height: 350px; background-color: #0275D8;">
            <div class="carousel-caption d-none d-md-block">
                <h1><i class="fa fa-usd fa-4x" aria-hidden="true"></i></h1>
                <h2>Earn</h2>
                <p>Earn tips by tagging images.</p>
            </div>
        </div>
    </div>
</div>