<div class="container">
    <h1>{{model.task.name}}</h1>
    <div ng-if="currentUser._id !== model.task.tipper">
        <h4>{{model.task.description}} <span class="badge badge-warning">Reward: {{model.task.price}}</span></h4>
    </div>
    <div ng-if="currentUser._id === model.task.tipper">
        <div class="input-group">
            <span class="input-group-addon">Description</span>
            <input ng-model="model.task.description" type="text" class="form-control">
            <span class="input-group-addon">Reward ($/image)</span>
            <input ng-model="model.task.price" type="text" class="form-control">
            <div class="input-group-btn">
                <button ng-click="model.updateTask(model.task)" class="btn btn-primary">Update</button>
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">Add an image</span>
            <input ng-model="model.newImage.url" type="text" class="form-control" placeholder="URL">
            <div class="input-group-btn">
                <button ng-click="model.addImage(model.newImage)" class="btn btn-success">Add</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div ng-repeat="image in model.images" class="col-md-4 col-sm-6" style="margin: 30px 0">
            <img ng-src="{{image.url}}" alt="" style="height: 250px; width: 100%">
            <div>
                <h2><span class="badge badge-primary">{{image.tag}}</span></h2>
                <div ng-if="!image.tag" class="input-group">
                    <input ng-model="image.newTag" type="text" class="form-control">
                    <div class="input-group-btn">
                        <button ng-click="model.tagImage(image)" class="btn btn-success">Tag</button>
                    </div>
                </div>
            </div>
            <button ng-if="currentUser._id === model.task.tipper" ng-click="model.deleteImage(image)" class="btn btn-danger btn-block">Delete</button>
        </div>
    </div>
</div>