<div class="container">
    <h1>{{model.task.name}}</h1>
    <div ng-if="currentUser._id !== model.task.tipper">{{model.task.description}}</div>
    <div ng-if="currentUser._id === model.task.tipper">
        <input ng-model="model.task.description" type="text" class="form-control">
        <button ng-click="model.updateTask(model.task)">Update</button>
    </div>
    <ul>
        <li ng-repeat="image in model.images">
            <img ng-src="{{image.url}}" style="width: 30%">
            {{image.tag}}
            <div ng-if="!image.tag">
                <input ng-model="image.newTag" type="text">
                <button ng-click="model.tagImage(image)">Tag</button>
            </div>
            <button ng-if="currentUser._id === model.task.tipper" ng-click="model.deleteImage(image)">Delete</button>
        </li>
    </ul>
    <table class="table" ng-if="currentUser._id === model.task.tipper">
        <thead>
        <tr>
            <th>URL</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="text" class="form-control" ng-model="model.newImage.url"></td>
            <td>
                <a ng-click="model.addImage(model.newImage)">Add an image</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>