<div class="container-fluid" style="padding-left: 0; padding-right: 0">
    <table class="table table-bordered">
        <thead class="thead-default">
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>Name</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in model.users">
                <td><input type="text" class="form-control" ng-model="user.username"></td>
                <td></td>
                <td><input type="text" class="form-control" ng-model="user.name"></td>
                <td><select class="form-control" ng-model="user.userType">
                    <option value="TAGGER">Tagger</option>
                    <option value="TIPPER">Tipper</option>
                    <option value="ADMIN">Admin</option>
                </select></td>
                <td>
                    <div class="btn-group" role="group">
                        <button ng-click="model.update(user)" type="button" class="btn btn-outline-primary">Update</button>
                        <button ng-click="model.delete(user)" type="button" class="btn btn-outline-danger">Delete</button>
                    </div>
                </td>
            </tr>
            <tr class="table-success">
                <td><input type="text" class="form-control" ng-model="model.user.username"></td>
                <td><input type="text" class="form-control" ng-model="model.user.password"></td>
                <td><input type="text" class="form-control" ng-model="model.user.name"></td>
                <td><select class="form-control" ng-model="model.user.userType">
                    <option value="TAGGER">Tagger</option>
                    <option value="TIPPER">Tipper</option>
                    <option value="ADMIN">Admin</option>
                </select></td>
                <td>
                    <button ng-click="model.create(model.user)" type="button" class="btn btn-outline-success">Create</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>